<%- include('../partials/adminHead') %>

<body class="g-sidenav-show  bg-gray-200">
  <div class="toast-container">Hey what up</div>
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
      <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
          <img src="/img/logo/transparent-white.png" class="navbar-brand-img h-100" alt="main_logo">
          <span class="ms-1 font-weight-bold text-white">WardrobeWhiz</span>
        </a>
      </div>
      <hr class="horizontal light mt-0 mb-2">
      <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
           <!-- //Side Dashboard button -->
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">dashboard</i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
           <!-- //Side Users button -->
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/users">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">table_view</i>
              </div>
              <span class="nav-link-text ms-1">Manage Users</span>
            </a>
          </li>
          <!-- //Side Products button -->
         <li class="nav-item">
          <a class="nav-link text-white " href="/admin/products">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Products</span>
          </a>
        </li>
           <!-- //Side Orders button -->
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/orders">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">receipt_long</i>
              </div>
              <span class="nav-link-text ms-1">Orders</span>
            </a>
          </li>
           <!-- //Side Coupons button -->
          <li class="nav-item">
            <a class="nav-link text-white active bg-gradient-primary" href="/admin/coupons">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">view_in_ar</i>
              </div>
              <span class="nav-link-text ms-1">Manage Coupons</span>
            </a>
          </li>
           <!-- //Side Dashboard button -->
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/sales_report">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">format_textdirection_r_to_l</i>
              </div>
              <span class="nav-link-text ms-1">Sales Report</span>
            </a>
          </li>
          <!-- side Banner button  -->
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/banner">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">notifications</i>
              </div>
              <span class="nav-link-text ms-1">Manage Banner</span>
            </a> 
          </li>

          <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/profile">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">person</i>
              </div>
              <span class="nav-link-text ms-1">Profile</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white " type="button" data-bs-toggle="modal" data-bs-target="#signOutModal">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">login</i>
              </div>
              <span class="nav-link-text ms-1">Sign out</span>

              <!-- logout Modal -->
<div class="modal fade" id="signOutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Out</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Are you confirm to Logout
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
        <form action="/admin/signout" method="post">
          <button type="submit" class="btn" style="background-color: rgb(92, 84, 209); color: white;">Logout</button>
        </form>
      </div>
    </div>
  </div>
</div>
            </a>
          </li>
          
        </ul>
      </div>
      <div class="sidenav-footer position-absolute w-100 bottom-0 ">
        
      </div>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <!-- Navbar -->
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Admin</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Coupons</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Manage Coupons</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          
          <ul class="navbar-nav  justify-content-end">
            
            
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
           
            
            
          </ul>
        </div>
      </div>
    </nav>
      <!-- End Navbar -->
      <div class="container-fluid p-4 view-products "  >
      <!-- Add coupon? -->
      <p class="ms-3" style="color: brown; font-weight: 500; font-size: 20px;" id="message"></p>
     <div class="row p-4 mx-2 addCouponss" style="border-radius: 15px; background-color: rgba(0, 255, 255, 0.534);"  >

      <form action="/admin/addcoupon" method="post">
      <div class="col-12 d-flex justify-content-between">
        <h4>Add Coupons</h4>    </div>
      <div class="col-12 mt-3">  
        <div class="row">
          <div class="col-3"><span>Coupon Code </span> </div>
          <div class="col-8"> : <input type="text" oninput="codeinput()" placeholder="Coupon" required name="coupon" id="coupon-input"> <span id="coupon-err" class="couponerr"></span ></div>
        </div> 
            
      </div>
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-3"> <span>Discount ( % ) </span></div>
          <div class="col-8"> : <input min="1" max="99" oninput="discountinput ()" type="number" required placeholder="discount (%)" name="discount" id="dis-input"><span id="discount-err" class="couponerr"></span></div>
        </div> 
         
      </div>  
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-3"><span>Minimum purchace  </span> </div>
          <div class="col-8"> : <input min="1"  type="number" required placeholder="Minimum Purchace" name="minPurchase" id=""><span id="" class="couponerr"></span></div>
        </div> 
        
     </div>  
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-3"> <span>Expire date </span></div>
          <div class="col-8"> : <input min="1" max="99"  type="date" placeholder="Expire date" required name="date" id="dis-input"><span id="expireDate" class="couponerr"></span></div>
        </div> 
        
     </div> 
        <div class="col-12 mt-3">
         
          <button id="sub-btn">Submit</button>
        </div>
       
        
      </form>
     </div>
     <!-- Show Coupoun -->
     <% if (coupons) { %>
      <div class="col-12 p-3 my3 mt-3"><h4 class="pb-2">Coupons</h4></div>
     <% } else{%>
      <div class="col-12 p-3 my3 mt-3"><h4 class="pb-2">No Coupons</h4></div>
      <% } %>
     <% if (coupons) { %>
      <% coupons.forEach(element => { %>
      <div class="row mb-2 showCoup">
      
       
          <div class="col-3 d-flex align-items-center justify-content-start ps-3  mb-3"><h6 class="pt-3"><%= element.coupon %></h6> </div>
          <div class="col-5  d-flex align-items-center justify-content-start mb-3"><h6 class="pt-3"><%= element.discount %>% Discount
          <% if (element.expireDate) { %>
              <% if (element.expireDate <= currentDate) { %>
               (expired)
              <% }else {%>
                <% 
                const dateObject = new Date(element.expireDate);
                const day = dateObject.getDate().toString().padStart(2, '0');  // Get the day (with zero padding)
                const month = (dateObject.getMonth() + 1).toString().padStart(2, '0');  // Get the month (adding 1 because months are zero-based)
                const year = dateObject.getFullYear();  // Get the year
              
                const formattedDate = `${day}-${month}-${year}`;
                %>
                (Expire in <%= formattedDate %>)
              <% } %>
          <% } %>
          </h6></div> 
          <div class="col-3  d-flex align-items-center justify-content-start mb-3 mb-3"><h6 class="pt-3">Min Purchase ₹<%= element.minPurchase %></h6></div> 
          <div class="col-1  d-flex align-items-center justify-content-start mb-3 mb-3"><h6 class="pt-3"><a href="/admin/deleteCoupon/<%= element._id %>">Delete</a></h6></div> 

 
        </div>
        <% }) %>
     <% } %>
     </div>
      </div>
    
      
    </main>
   
   


<script src="/admin/js/coupon.js"></script>
<%- include('../partials/adminFoot') %>