<%- include('../partials/adminHead') %>

<body class="g-sidenav-show  bg-gray-200">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
      <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
          <img src="/img/logo/transparent-white.png" class="navbar-brand-img h-100" alt="main_logo">
          <span class="ms-1 font-weight-bold text-white">WardrobeWhiz</span>
        </a>
      </div>
      <hr class="horizontal light mt-0 mb-2">
      <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
           <!-- //Side Dashboard button -->
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">dashboard</i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
           <!-- //Side Users button -->
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/users">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">table_view</i>
              </div>
              <span class="nav-link-text ms-1">Manage Users</span>
            </a>
          </li>
          <!-- //Side Products button -->
         <li class="nav-item">
          <a class="nav-link text-white " href="/admin/products">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Products</span>
          </a>
        </li>
           <!-- //Side Orders button -->
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/orders">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">receipt_long</i>
              </div>
              <span class="nav-link-text ms-1">Orders</span>
            </a>
          </li>
           <!-- //Side Coupons button -->
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/coupons">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">view_in_ar</i>
              </div>
              <span class="nav-link-text ms-1">Manage Coupons</span>
            </a>
          </li>
           <!-- //Side Sales Report button -->
          <li class="nav-item">
            <a class="nav-link text-white active bg-gradient-primary" href="/admin/sales_report">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">format_textdirection_r_to_l</i>
              </div>
              <span class="nav-link-text ms-1">Sales Report</span>
            </a>
          </li>
          <!-- //Side BAnner button -->
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/banner">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">notifications</i>
              </div>
              <span class="nav-link-text ms-1">Manage Banner</span>
            </a>
          </li>
          <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Admin </h6>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/profile">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">person</i>
              </div>
              <span class="nav-link-text ms-1">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " type="button" data-bs-toggle="modal" data-bs-target="#signOutModal">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">login</i>
              </div>
              <span class="nav-link-text ms-1">Sign Out</span>
            </a>
            <!-- logout Modal -->
<div class="modal fade" id="signOutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Out</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Are you confirm to Logout
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
        <form action="/admin/signout" method="post">
          <button type="submit" class="btn" style="background-color: rgb(92, 84, 209); color: white;">Logout</button>
        </form>
      </div>
    </div>
  </div>
</div>
          </li>
          
        </ul>
      </div>
      <div class="sidenav-footer position-absolute w-100 bottom-0 ">
        
      </div>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <!-- Navbar -->
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Admin</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Sales Report</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Sales </h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          
          <ul class="navbar-nav  justify-content-end">
            
            
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
           
            
            
          </ul>
        </div>
      </div>
    </nav>
      <!-- End Navbar -->

    <!-- All report -->
      <div class="container-fluid py-4 view-products " >
 <div class="container sales-heading">
  <div class="row">
    <div class="col-4">
      <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span id="dropdown_name">All Sales Report</span>
        </button>
        <ul class="dropdown-menu">
          <li><span class="dropdown-item" id="all_sales">All</a></span>
          <li><span class="dropdown-item" id="today_sales">Today</a></span>
          <li><span class="dropdown-item" id="7days_sales">This Week</a></span>
          <li><span class="dropdown-item" id="30days_sales">This Month</a></span>
        </ul>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center" >
          <h5 id="report_headline">
            All Report
          </h5>
    </div>
  </div>
 </div>
 <!-- All  -->
        <div class="container" id="all_sales_view">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr style="text-align: center;">
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Payment ID</th>
                </tr>
              </thead>
              <tbody>
                <!-- Add your table rows with data here -->
                <% if (orderReport) { %>
                  
                <% orderReport.forEach(element => { %>
                <tr style="text-align: center;  align-items: center; font-size: 13px;">
                  
                    <td><%= element.orderId %></td>
                    <td><%= element.delivery_date %></td>
                    <td><%= element.customerName %></td>
                    <td> <% element.products.forEach(product => { %>
                      
                        <ul>
                          <%= product %>
                        </ul>
                      
                    <% }) %></td>
                    <td>₹<%= element.price %>.00</td>
                    <td><%= element.products.length %></td>
                    <td><%= element.paymentId %></td>
                 
                </tr> <% }) %>
                <% } %>
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          </div>
          <div class="container row d-flex ">
            <div class="col-6 d-flex justify-content-start"><h6>Total : ₹<%= TotalPrice %>.00</h6></div>
            <div class="col-6 d-flex justify-content-end"><button id="all_report_dl">Download</button></div>
          </div>

        </div>
        <!-- today -->
        <div class="container" id="today_sales_view"  style="display: none;">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr style="text-align: center;">
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Payment ID</th>
                </tr>
              </thead>
              <tbody>
                <!-- Add your table rows with data here -->
                <% if (todayOrders) { %>
                  
                  <% todayOrders.forEach(element => { %>
                  <tr style="text-align: center;  align-items: center; font-size: 13px;">
                    
                      <td><%= element.orderId %></td>
                      <td><%= element.delivery_date %></td>
                      <td><%= element.customerName %></td>
                      <td> <% element.products.forEach(product => { %>
                        
                          <ul>
                            <%= product %>
                          </ul>
                        
                      <% }) %></td>
                      <td>₹<%= element.price %>.00</td>
                      <td><%= element.products.length %></td>
                      <td><%= element.paymentId %></td>
                   
                  </tr> <% }) %>
                  <% } %>
                  
              </tbody>
            </table>

          </div>
          <div class="container row d-flex ">
            <div class="col-6 d-flex justify-content-start"><h6>Total : ₹<%= todayTotalPrice %>.00</h6></div>
            <div class="col-6 d-flex justify-content-end"><button id="today_report_dl">Download</button></div>
          </div>
        </div>
        <!-- 7 days -->
        <div class="container" id="last7days_sales_view" style="display: none;">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr style="text-align: center;">
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Payment ID</th>
                </tr>
              </thead>
              <tbody>
                <!-- Add your table rows with data here -->
                <% if (last7DaysOrders) { %>
                  
                  <% last7DaysOrders.forEach(element => { %>
                  <tr style="text-align: center;  align-items: center; font-size: 13px;">
                    
                      <td><%= element.orderId %></td>
                      <td><%= element.delivery_date %></td>
                      <td><%= element.customerName %></td>
                      <td> <% element.products.forEach(product => { %>
                        
                          <ul>
                            <%= product %>
                          </ul>
                        
                      <% }) %></td>
                      <td>₹<%= element.price %>.00</td>
                      <td><%= element.products.length %></td>
                      <td><%= element.paymentId %></td>
                   
                  </tr> <% }) %>
                  <% } %>
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          </div>
          <div class="container row d-flex ">
            <div class="col-6 d-flex justify-content-start"><h6>Total : ₹<%= thisWeekTotalPrice %>.00</h6></div>
            <div class="col-6 d-flex justify-content-end"><button id="weekReport_dl">Download</button></div>
          </div>
        </div>
        <!-- 30 days -->
        <div class="container" id="30days_sales_view" style="display: none;">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr style="text-align: center;">
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Payment ID</th>
                </tr>
              </thead>
              <tbody>
                <!-- Add your table rows with data here -->
                <% if (last30DaysOrders) { %>
                  
                  <% last30DaysOrders.forEach(element => { %>
                  <tr style="text-align: center;  align-items: center; font-size: 13px;">
                    
                      <td><%= element.orderId %></td>
                      <td><%= element.delivery_date %></td>
                      <td><%= element.customerName %></td>
                      <td> <% element.products.forEach(product => { %>
                        
                          <ul>
                            <%= product %>
                          </ul>
                        
                      <% }) %></td>
                      <td>₹<%= element.price %>.00</td>
                      <td><%= element.products.length %></td>
                      <td><%= element.paymentId %></td>
                   
                  </tr> <% }) %>
                  <% } %>
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          </div>
          <div class="container row d-flex">
            <div class="col-6 d-flex justify-content-start"><h6>Total : ₹<%= thisMonthTotalPrice %>.00</h6></div>
            <div class="col-6 d-flex justify-content-end"><button id="monthReport_days">Download</button></div>
          </div>
        </div>

      </div>

      

    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>

<script src="/admin/js/sales.js"></script>
<%- include('../partials/adminFoot') %>